

<h1>Sign Up</h1>
<form class="form-inline" action="<%= users_url %>" method="post">

    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <div class="form-group">

      <label for="user_email">User Email</label>
      <input type="text"
             name="user[email]"
             id="user_email"
             class="form-control"
             value="<%= @user.email %>">
    </div>


    <br>

    <div class="form-group">
      <label for="user_password">Password</label>
      <input type="password"
             name="user[password]"
             id="user_password"
              class="form-control"
             value="<%= @user.password %>">
    </div>
    <br>

    <input type="submit" value="Sign Up">
  </form>
